name: Check-Release-Nightly

on:
  schedule:
    - cron: '0 3 * * *'

env:
  REGISTRY_IMAGE: ${{ github.repository }}
  WEBREPO: "https://github.com/Stremio/stremio-web.git"

jobs:
  check_release:
    runs-on: ubuntu-latest
    steps:
      - name: CheckRelease
        run: |
          TAG=$(git ls-remote --tags --refs ${{ env.WEBREPO }} | tail -n1 | cut -d/ -f3)
          URL=$(wget https://raw.githubusercontent.com/Stremio/stremio-shell/master/server-url.txt -O server-url.txt; cat server-url.txt)
          BODY=$(curl -s https://api.github.com/repos/tsaridas/stremio-docker/releases/latest  | grep body | awk -F\" '{print $4}')
          OLDTAG=$(echo $BODY | awk '{print $3}')
          OLDURL=$(echo $BODY | awk '{print $7}')
          if [ "$TAG" == "$OLDTAG" ]; then
            echo "${TAG} is the same as ${OLDTAG} "
          else
            echo "We need to release. Found new tag ${TAG}"
            RELEASE="true"
          fi
          if [ "$URL" == "$OLDURL" ]; then
            echo "${URL} is the same as ${OLDURL}" 
          else
            echo "We need to release. Found new url ${URL}"
            RELEASE="true"
          fi
          if [ "$RELEASE" ]; then
            VERSION=$(curl -s https://api.github.com/repos/tsaridas/stremio-docker/releases/latest | grep \"name | awk -F\" '{print $4}')
            NEWVERSION=${VERSION:0:-1}$((${VERSION: -1}+1))
            echo "We need to release $NEWVERSION"
            echo ${{ secrets.GITHUB_TOKEN }} | gh auth login --with-token
            gh release create $NEWVERSION --title "Release ${NEWVERSION}" --notes "Web version ${TAG} - Server url ${URL}" 
          fi


